@import "../variables/variables";

footer {
  padding: 10px 0;
  background-color: $site-dark-blue;
  color: white;

  .strong-word {
    font-weight: bold;
    color: $darker-pastel-blue;
  }

  .copyright {
    font-weight: 600;
  }

  .icon-social {
    font-size: 30px;

    &:hover {
      color: $pastel-light-blue;
    }
  }
}
